@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-x-11-gray: #bfbdc1ff;
  --old-lavender: #6d6a75ff;
  --black-coffee: #37323eff;
  --gold-metallic: #deb841ff;
  --gamboge: #de9e36ff;

  --tart-orange: #fe4a49ff;
  --orange-yellow-crayola: #fed766ff;
  --pacific-blue: #009fb7ff;
  --light-gray: #d2d2daff;
  --ghost-white: #f4f4f8ff;
}
